<!-- Modal -->
<div class="modal fade" id="market-app-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Geekofia Blog on Android</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body market-app">
                <p>An awesome android app for Geekofia Blog is on available play store and it's free...</p>
                <p>Install the app to
                    <ul>
                        <li>Read efficiently with fullscreen view</li>
                        <li>Share posts easily with friends and colleagues</li>
                        <li>Get notified when a new post is published</li>
                        <li>Contact the support directly</li>
                    </ul>
                </p>
                <a href='https://play.google.com/store/apps/details?id=in.geekofia.blog'>
                    <img class="img-fluid" alt='Android App'
                        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' />
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href='https://play.google.com/store/apps/details?id=in.geekofia.blog'><button type="button"
                        class="btn btn-primary">Install</button></a>
            </div>
        </div>
    </div>
</div>