<footer class="footer">
    <div class="container clearfix">
        <div class="float-left">
            <span>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/chankruze">chankruze</a>
            </span>
        </div>
        <div class="ml-auto float-right">
            <span class="links">
                <a class="navbar-brand" href="https://paypal.me/chankruze" target="_blank"><i
                        class="fab fa-paypal"></i></a>
                <a class="navbar-brand" href="https://t.me/geekofia" target="_blank"><i class="fab fa-telegram"></i></a>
                <a class="navbar-brand" href="https://instagram.com/chankruze" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </span>
        </div>
    </div>
</footer>