<ul class="metadata list-inline top">
  <li class="list-inline-item post-date"> <i class="fas fa-calendar-alt"></i>
    {{ page.date | date_to_string }}
  </li>
  <li class="list-inline-item post-author"> <i class="fas fa-user-edit icon-post"></i>
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
    <a href="{{ author.url }}">{{ author.short_name }}</a>
    {% endif %}
  </li>
  <li class="list-inline-item post-category">
    <i class="far fa-folder icon-post"></i>
    {% for category in page.categories %}
    <a href="/categories/{{ category }}/">{{ category }}</a>
    {% if forloop.last == false %}|{% endif %}
    {% endfor %}
  </li>
  <li class="list-inline-item float-right post-duration"> <i class="far fa-clock icon-post"></i>
    {% include post_reading_time.html %}
  </li>
</ul>