/** Animations **/

.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.quick-blink {
    animation: quick-blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes quick-blinker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}