---
layout: default
title: GEEKOFIA | Contact
---
<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/assets/css/contact.css">

<div class="container-contact100">
	<div class="wrap-contact100">
		<span class="contact100-form-title">
			Get In Touch
		</span>
		<form class="contact100-form validate-form" action="https://formspree.io/contact@geekofia.in" method="POST">

			<label class="label-input100" for="name">Your name *</label>
			<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type name">
				<input id="name" class="input100" type="text" name="name" placeholder="Eg. Miss Morgan" required>
				<span class="focus-input100"></span>
			</div>
			<!-- <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
				<input class="input100" type="text" name="last-name" placeholder="Last name">
				<span class="focus-input100"></span>
			</div> -->

			<label class="label-input100" for="email">your email *</label>
			<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
				<input id="email" class="input100" type="text" name="_replyto" placeholder="Eg. example@email.com" required>
				<span class="focus-input100"></span>
			</div>

			<label class="label-input100" for="phone">your phone number *</label>
			<div class="wrap-input100">
				<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000" required>
				<span class="focus-input100"></span>
			</div>

			<label class="label-input100" for="message">your message *</label>
			<div class="wrap-input100 validate-input" data-validate="Message is required">
				<textarea id="message" class="input100" name="message" placeholder="Eg. You are awesome !" required ></textarea>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn" type="submit" value="Send">
					Send Message
				</button>
			</div>
		</form>

		<div class="contact100-more flex-col-c-m">
			<div class="flex-w size1 p-b-47">
				<div class="txt1 p-r-25">
					<i class="lnr fas fa-map-marker-alt"></i>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						Address
					</span>

					<span class="txt2">
						Bersarai, Opp. Old JNU Campus</br>
						New Delhi, 110016, IN
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<i class="lnr fas fa-phone"></i>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						Lets Talk
					</span>

					<span class="txt3">
						+91 8144356767</br>
						+91 9205639328
					</span>
				</div>
			</div>

			<div class="dis-flex size1 p-b-47">
				<div class="txt1 p-r-25">
					<i class="lnr fas fa-envelope"></i>
				</div>

				<div class="flex-col size2">
					<span class="txt1 p-b-20">
						General Support
					</span>

					<span class="txt3">
						contact@geekofia.in
					</span>
				</div>
			</div>
		</div>
	</div>
</div>