---
layout: default
comments: true
---
<link rel="stylesheet" href="/assets/css/post.css">
<script src="/assets/js/prism.js"></script>

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6465900080118516",
          enable_page_level_ads: true
     });
</script>

<div>
  <!-- <button class="btn-back" onclick="goBack()">Go Back</button> -->
  <h1>{{ page.title }}</h1>
</div>

{% include post_metadata_top.html %}

<div class="post-contents">
  {{ content }}
</div>

<p align="center"><b>o EOP o</b></p>

{% include post_metadata_bottom.html %}

<!-- {% include post_navigation.html %} -->

<div class="related-posts">

  {% include related_posts.html %}

</div>

<!-- {% include comments.html %} -->

<script src="/assets/js/run_prettify.js"></script>
