---
layout: default
comments: true
---
<script src="/assets/js/prism.js"></script>

<div>
  <!-- <button class="btn-back" onclick="goBack()">Go Back</button> -->
  <h1>{{ page.title }}</h1>
</div>

<p>
  <i class="fas fa-calendar-alt"></i>
  {{ page.date | date_to_string }}
  <i class="fas fa-user-edit icon-post"></i>
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
  <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  <i class="far fa-clock icon-post"></i>
  {% include post_reading_time.html %}
</p>

{{ content }}

<p align="center"><b>o EOP o</b></p>

{% include post_navigation.html %}

<div class="related-posts">

  {% include related_posts.html %}

</div>
<!-- 
<div id="disqus_thread"></div>

<script>
  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://geekofia-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script> -->
<script src="/assets/js/run_prettify.js"></script>